channels:
- conda-forge
dependencies:
- ipykernel
- myst-parser
- nbsphinx
- sphinx-gallery
- sphinx-rtd-theme
- versioneer
- coveralls
- coverage
- semantikon =0.0.27
- hatchling =1.28.0
- hatch-vcs =0.5.0
